<div class="footer {% if include.white %}white{% endif %}">
  <div class=" asce-bookstore ml-xs">
    <div class="asce-logo">
      <a href="http://asce.ucsd.edu">{% include asce-logo.html %}</a>
    </div>
    <div class="bookstore-logo">
      <a href="https://ucsandiegobookstore.com/"
        >{% include bookstore-logo.html %}</a
      >
    </div>
  </div>
  <div class="socials mr-xs">
    <ul>
      <li>
        <a href="https://www.facebook.com/sungodfestival/" target="_blank"
          >{% include facebook.html %}</a
        >
      </li>
      <li>
        <a href="https://twitter.com/ucsdasce/" target="_blank"
          >{% include twitter.html %}</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/ucsdasce/" target="_blank"
          >{% include instagram.html %}</a
        >
      </li>
    </ul>
  </div>
</div>
