<div id="side-nav" class="side-nav side-nav-slide">
  <div id="menu-btn-close" class="lap-up-hide" onclick="closeNav()">
      <div>Close Menu</div>
    </div> 
  <div id="side-nav-content">
  <div class="header">
    <a href=''>
    <img
      src="assets/images/site/logo-just-text.svg"
      alt="Sun God Festival 2019"
    /></a>
    <div class="underline-dark"></div>
  </div>
  <nav>
      <ul>
        {% for item in site.data.nav %}{% if item.dropdown %}
        <li>
          <div class="dropdown">
            <a class="dropbtn {% for sub in item.dropdown %}
            {% capture suburl %}/{{sub.url}}/{% endcapture %}
            {% if page.permalink == suburl %}active{% break %}{% endif %}{% endfor %}" onclick="toggleDropdown({{ item.dropdownID }}_dropdown)">{{ item.title }}</a>
            <div id="{{ item.dropdownID }}_dropdown" class="dropdown-content">
              {% for sub in item.dropdown %}
              {% capture suburl %}/{{sub.url}}/{% endcapture %}
              <a href="{{ sub.url }}" {% if page.permalink == suburl %}class="active"{% endif %}>{{ sub.title }}</a>
              {% endfor %}
            </div>
          </div>
        </li>
        {% else %}
        <li>
            {% capture mainurl %}{% if item.url != "" %}/{{item.url}}{% endif %}/{% endcapture %}
          <a href="{{ item.url }}" {% if page.permalink == mainurl %}class="active"{% endif %}>{{ item.title }}</a> 
        </li>
        {% endif %} {% endfor %}
        <li><a href="registration" class="btn">Register</a></li>
      </ul>
    </nav>
  </div>
 
</div>
<div class="side-nav-footer side-nav-slide">
  <div class="icons">
    <div class="row">
      <a href="https://www.facebook.com/sungodfestival/" target="_blank"><img src="assets/images/global/fb.svg" alt="Facebook"></a>
      <a href="https://twitter.com/ucsdasce/" target="_blank"><img src="assets/images/global/twitter.svg" alt="Twitter"></a>
      <a href="https://www.instagram.com/ucsdasce/" target="_blank"><img src="assets/images/global/ig.svg" alt="Instagram"></a>
    </div>
    <div class="row">
        <a href="http://asce.ucsd.edu/" target="_blank"><img src="assets/images/global/asce-logo.svg" alt="ASCE"></a>
        <div class="vertical-bar"></div>
        <a href="https://ucsandiegobookstore.com/" target="_blank"><img src="assets/images/global/bookstore-logo.svg" alt="UCSD Bookstore"></a>
    </div>
  </div>
</div>


<script>
function toggleDropdown(dropdown) {
  var $dropdown = $(dropdown);
  $dropdown.slideToggle();

 // $dropdown.closest('.dropdown').find('.dropbtn').toggleClass('active');
}
</script>