.btn {
  font-family: $dejavu;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  font-size: 1.2rem;
  color: $red;
  border: 1px solid $red;
  white-space: nowrap;
  padding: 0.6rem 1.3rem 0.4rem !important;
  @include grid-media-query(lap-up) {
    font-size: 1.4rem;
    padding: 1rem 2rem 0.8rem !important;
  }
}
