---
layout: default
title: Home
permalink: /
---

<div id="hero">
  <div class="border-content top-left unselectable">
    <a id="sgf-logo-container" href="">
      <img
        id="sgf-logo-default"
        src="assets/images/global/sgf-logo.png"
        alt="Sun God Festival 2019"/>
      <img id="sgf-logo-blur" src="assets/images/global/sgf-logo-blur.png" alt=""
    /></a>
  </div>
  <div class="border-content top-right">
    <p>Registration Coming Soon</p>
  </div>
  <div class="border-content bottom-left unselectable">
    <a id="asce-logo" href="http://asce.ucsd.edu/" target="_blank">
      <img src="assets/images/global/asce-logo.svg" alt="AS Concerts & Events"
    /></a>
    <ul id="socials">
      <li>
        <a href="https://www.facebook.com/sungodfestival/" target="_blank"
          ><img src="assets/images/global/fb.svg" alt="Facebook" title="Facebook"
        /></a>
      </li>
      <li>
        <a href="https://twitter.com/ucsdasce/" target="_blank"
          ><img
            src="assets/images/global/twitter.svg"
            alt="Twitter"
            title="Twitter"
        /></a>
      </li>
      <li>
        <a href="https://www.instagram.com/ucsdasce/" target="_blank"
          ><img
            src="assets/images/global/ig.svg"
            alt="Instagram"
            title="Instagram"
        /></a>
      </li>
    </ul>
  </div>
  <div class="border-content bottom-right unselectable">
    <a href="https://ucsandiegobookstore.com/" target="_blank">
      <img src="assets/images/global/bookstore-logo.svg" alt="UC San Diego Bookstore"
    /></a>
  </div>

  <!-- Background video -->
  <div id="bg">
    <div id="countdown-container">
      {{ content }}
    </div>
    <div id="video-overlay"></div>
    <video
      id="hero-video"
      playsinline
      autoplay
      loop
      muted
      poster="assets/images/waves-frame.jpg"
    >
      <source src="assets/videos/waves.webm" type="video/webm" />
      <source src="assets/videos/waves.mp4" type="video/mp4" />
      <source src="assets/videos/waves.ogg" type="video/ogg" />
    </video>
  </div>
</div>

<script>
  var video = document.getElementById("hero-video");
  video.onended = function() {
    this.load();
    this.play();
  };
  video.controls = false;
</script>
