#safety-block {
  // @extend .block;
  //min-height: 80vh;
  margin: 13rem 0 6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    // /height: 25vw;
    width: 90%;
  }
}

#safety-container {
}

#safety {
  //width: 100%;
}
